<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post listing | TITLE OF THE BLOG</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
</head>
<body>
    <div class="page-header">SOMEONE's Blog</div>
    {% block content %}
    {% endblock %}
</body>
</html>